!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= locals.title
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css",
      rel="stylesheet")
    link(href="main.css", rel="stylesheet")
  body
    .container
      .row
        .span6
          h1= page.title
          != page.html
